/* 
CSS for new_customer.php

Need to change to index.css down the line


 */
 @import "http://fonts.googleapis.com/css?family=Raleway";

 body {
 	font-family:raleway;
 }

 /*START Add Customer UI */
.header {
    /* background-color: #D3D3D3; */
    text-align: center;
}

.half-rule { 
    margin-left: 0;
    text-align: left;
    width: 100%;
 }


#custUI {
    border-radius:10px;
    border:2px solid gray;
    /* padding: 10px 20px 10px 20px; */
}
/*END Add Customer UI */

label {
color:#464646;
font-family:raleway;
text-shadow:0 1px 0 #fff;
font-size:12px;
font-weight:700
}